{% extends "main_layout.html" %}
{% block title %}Filton Hotel{% endblock %}
{% set active_page = "prejeto" %}
{% block content %}
<div class="container">
  <h1 class="text-center mt-3">Opravila</h1>
  <div class="row">

    {% for t in all_tasks %}
      <div class="col-12 mt-3">
        <div class="card">
          <h5 class="card-header">Opravilo:<span class="card-subtitle text-muted"> {{t.task_name}}</span>
            {% if t.status == True %}
              <span class="float-right text-success">Opravljeno</span>
            {% else %}
              <span class="float-right text-danger">Ni opravljeno</span>
            {% endif %}
          </h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Opis opravila:</h6>
            <p class="card-text">{{t.task_text}}</p><p class="card-text"><small class="text-muted">{{t.created.strftime('%d-%m-%Y %H:%M')}}</small></p>
            <a href="" data-toggle="modal" data-target="#{{t.key.id()}}" class="badge badge-primary">Uredi</a>
            <a href="" data-toggle="modal" data-target="#delete/{{t.key.id()}}" class="badge badge-danger">Izbriši</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="{{t.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Uredi opravilo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="/opravila/{{t.key.id()}}">
                <div class="form-group ">
                  <textarea class="form-control" name="new_text" required>{{t.task_text}}</textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
                  <button type="submit" class="btn btn-primary">Sharni</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="delete/{{t.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Ali res želite izbrisati opravilo?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="/izbris/{{t.key.id()}}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Prekliči</button>
                <button type="submit" class="btn btn-primary">Izbriši</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
